
**/.aws-sam/
**/.terraform
**/terraform.tfstate
**/terraform.tfstate.backup
**/.terraform.lock.hcl

**/*.zip
**/Pipfile.lock
**/__pycache__/**
**/venv*/**
feature_branch/

**/.DS_Store
.idea/

**/.coverage
**/.coverage.**
**/coverage.xml
**/junit_xml_test_report.xml

api_service/general.log
api_service/out.log
api_service/requirements.txt
api_service/artifacts/
api_service/staticfiles/

aggregator/requirements.txt
aggregator/artifacts/
aggregator/mediafiles/**

examples/django-deployment/mediafiles/
examples/django-deployment/artifacts/
examples/django-deployment/db.sqlite3
examples/django-deployment/dump.rdb
examples/client_examples/python_client/dataprofiler_developer/initial_model_schema.json
examples/client_examples/python_client/dataprofiler_developer/initial_model_weights.json
examples/client_examples/python_client/post_data.json
examples/client_examples/python_client/dataprofiler_clients/uui_temp_*.txt
examples/client_examples/python_client/dataprofiler_clients/logfile.log

**/*.egg-info/*
**/build/*
**/dist/*
docs/*
.vscode/*
