
**/.aws-sam/
**/.terraform
**/terraform.tfstate
**/terraform.tfstate.backup
**/.terraform.lock.hcl

**/*.zip
**/Pipfile.lock
**/__pycache__/**
**/venv*/**
feature_branch/

**/.DS_Store
.idea/

**/.coverage
**/.coverage.**
**/coverage.xml
**/junit_xml_test_report.xml

api_service/general.log
api_service/out.log
api_service/requirements.txt
api_service/artifacts/
api_service/staticfiles/

aggregator/requirements.txt
aggregator/artifacts/
aggregator/mediafiles/**


**/*.egg-info/*
**/build/*
**/dist/*
docs/*
.vscode/*
