[[source]]
url = "https://pypi.python.org/simple"
verify_ssl = true
name = "pypi"

[packages]
django = "*"
fma-django = {extras = ["api"], path = "./artifacts/fma_django-0.0.1-py3-none-any.whl"}
fma-core = {path = "./artifacts/fma_core-0.0.1-py3-none-any.whl"}



[dev-packages]
pytest = "*"
pytest-cov = "*"
black = "*"
flake8 = "*"
pre-commit = "*"
isort = "*"

[requires]
python_version = ">=3.8"
